<div class="modal fade" id="edit-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Edit data pembayaran</h4>
        </div>
        <div class="modal-body">
          <form role="form" id="simpan_guru">
            <div class="box-body">
              <div class="form-group">
                <label for="nama_customer">Nama Customer</label>
                <input type="text" class="form-control" id="nama_customer" name="nama_customer" placeholder="Masukan nama customer" required>
              </div>
              <div class="form-group">
                <label for="lokasi_awal">Lokasi Awal</label>
                <input type="text" class="form-control" id="lokasi_awal" name="lokasi_awal" placeholder="Masukan lokasi awal" required>
              </div>
              <div class="form-group">
                <label for="lokasi_tujuan">Lokasi Tujuan</label>
                <input type="text" class="form-control" id="lokasi_tujuan" name="lokasi_tujuan" placeholder="Masukan lokasi tujuan" required>
              </div>
              <div class="form-group">
                <label for="total_bayar">Total bayar</label>
                <input type="text" class="form-control" id="total_bayar" name="total_bayar" placeholder="Masukan total bayar" required>
              </div>
              <div class="form-group">
                <label for="bukti_pembayaran">Bukti Pembayaran</label>
                <input type="text" class="form-control" id="bukti_pembayaran" name="bukti_pembayaran" placeholder="Masukan bukti pembayaran" required>
              </div>
              <div class="form-group">
                <label for="status_u_b">Status (sudah bayar/belum)</label>
                <input type="text" class="form-control" id="status_u_b" name="status_u_b" placeholder="Masukan surat status udah bayar/bayar" required>
              </div>


              <!-- select -->
              
            </div>
            <div class="box-footer">
              <button type="submit" class="btn btn-primary">Simpan</button>
            </div>
          </form>
        </div>
  
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>