<div class="modal fade" id="edit-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Edit data jadwal</h4>
        </div>
        <div class="modal-body">
          <form role="form" id="simpan_guru">
            <div class="box-body">
              <div class="form-group">
                <label for="tgl_berangkat">Tanggal berangkat</label>
                <input type="text" class="form-control" id="tgl_berangkat" name="tgl_berangkat" placeholder="Masukan tanggal berangkat" required>
              </div>
              <div class="form-group">
                <label for="lokasi_awal">Lokasi awal</label>
                <input type="text" class="form-control" id="lokasi_awal" name="lokasi_awal" placeholder="Masukan lokasi awal" required>
              </div>
              <div class="form-group">
                <label for="tujuan">Tujuan</label>
                <input type="text" class="form-control" id="tujuan" name="tujuan" placeholder="Masukan tujuan" required>
              </div>
              <div class="form-group">
                <label for="jam_keberangkatan">Jam keberangkatan</label>
                <input type="text" class="form-control" id="jam_keberangkatan" name="jam_keberangkatan" placeholder="Masukan jam keberangkatan" required>
              </div>

              <div class="form-group">
                <label for="mobil">Mobil</label>
                <input type="text" class="form-control" id="mobil" name="mobil" placeholder="Masukan mobil" required>
              </div>

              <div class="form-group">
                <label for="jumlah_kursi">Jumlah kursi</label>
                <input type="text" class="form-control" id="jumlah_kursi" name="jumlah_kursi" placeholder="Masukan jumlah kursi" required>
              </div>

              <div class="form-group">
                <label for="kursi_kosong">Kursi kosong</label>
                <input type="text" class="form-control" id="kursi_kosong" name="kursi_kosong" placeholder="Masukan kursi kosong" required>
              </div>

              <div class="form-group">
                <label for="kursi_terisi">Kursi terisi</label>
                <input type="text" class="form-control" id="kursi_terisi" name="kursi_terisi" placeholder="Masukan kursi terisi" required>
              </div>

              <div class="form-group">
                <label for="harga_perkursi">Harga perkursi</label>
                <input type="text" class="form-control" id="harga_perkursi" name="harga_perkursi" placeholder="Masukan harga perkursi" required>
              </div>


              <!-- select -->
              
            </div>
            <div class="box-footer">
              <button type="submit" class="btn btn-primary">Simpan</button>
            </div>
          </form>
        </div>
  
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>