<div class="modal fade" id="add-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Tambah data mobil</h4>
      </div>
      <div class="modal-body">
        <form role="form" action="/admin/mobil" method="POST">
          <div class="box-body">
            <div class="form-group">
              <label for="plat">Plat</label>
              <input type="text" class="form-control" id="plat" name="no_plat" placeholder="Masukan no plat" required>
            </div>
            <div class="form-group">
              <label for="jenis_mobil">Jenis Mobil</label>
              <input type="text" class="form-control" id="jenis_mobil" name="jenis_mobil"
                placeholder="Masukan jenis mobil" required>
            </div>
          </div>
          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Simpan</button>
          </div>
        </form>
      </div>

    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>