<div class="modal fade" id="edit-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Edit data bank</h4>
        </div>
        <div class="modal-body">
          <form role="form" id="simpan_guru">
            <div class="box-body">
              <div class="form-group">
                <label for="no_rek">No Rekening</label>
                <input type="text" class="form-control" id="no_rek" name="no_rek" placeholder="Masukan No rekening" required>
              </div>
              <div class="form-group">
                <label for="nama">Nama Bank</label>
                <input type="text" class="form-control" id="nama" name="nama_bank" placeholder="Masukan nama bank" required>
              </div>
              <!-- select -->
              <div class="form-group">
                <label fro="nama_pemilik">Nama Pemilik</label>
                <input type="text" class="form-control" id="nama_pemilik" name="nama_pemilik" placeholder="Masukan nama pemilik" required>
                <!-- <select required name="jk" class="form-control">
                  <option value="">--- Pilih Jenis Kelamin ---</option>
                  <option value="pria">Pria</option>
                  <option value="wanita">Wanita</option>
                </select> -->
              </div>
            </div>
            <div class="box-footer">
              <button type="submit" class="btn btn-primary">Simpan</button>
            </div>
          </form>
        </div>
  
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>