<div class="modal fade" id="edit-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit data bank</h4>
      </div>
      <div class="modal-body">
        <form role="form" action="/admin/bank/update" method="POST">
          <div class="box-body">
            <div class="form-group">
              <label for="no_rekening">No Rekening</label>
              <input type="text" class="form-control no_rekening" id="no_rekening" name="no_rekening"
                placeholder="Masukan No rekening" required>
            </div>
            <div class="form-group">
              <label for="nama">Nama Bank</label>
              <input type="text" class="form-control nama_bank" id="nama" name="nama_bank"
                placeholder="Masukan nama bank" required>
            </div>
            <!-- select -->
            <div class="form-group">
              <label fro="nama_pemilik">Nama Pemilik</label>
              <input type="text" class="form-control nama_pemilik" id="nama_pemilik" name="nama_pemilik"
                placeholder="Masukan nama pemilik" required>
              <!-- <select required name="jk" class="form-control">
                  <option value="">--- Pilih Jenis Kelamin ---</option>
                  <option value="pria">Pria</option>
                  <option value="wanita">Wanita</option>
                </select> -->
            </div>
          </div>
          <div class="box-footer">
            <input type="hidden" class="id" name="id">
            <button type="submit" class="btn btn-primary">Simpan</button>
          </div>
        </form>
      </div>

    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>