<% stuff = typeof stuff !== 'object' ? {} : stuff %>
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">


    <!-- Sidebar Menu -->
    <ul class="sidebar-menu" data-widget="tree">
      <!-- Optionally, you can add icons to the links -->
      <!-- <li class="<% if ( stuff.url == "/admin" ) { %> active <% } %>">
        <a href="/admin"> <i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
      </li> -->
      <li class="<% if ( stuff.url == "/admin/mobil" ) { %> active <% } %>">
        <a href="/admin/mobil"><i class="fa fa-car"></i> <span>Mobil</span></a>
      </li>
      <li class="<% if ( stuff.url == "/admin/jadwal" ) { %> active <% } %>">
        <a href="/admin/jadwal"><i class="fa fa-calendar-check-o"></i> <span>Jadwal</span></a>
      </li>
      <li class="<% if ( stuff.url == "/admin/customer" ) { %> active <% } %>">
        <a href="/admin/customer"><i class="fa fa-users"></i> <span>Customer</span></a>
      </li>
      <li class="<% if ( stuff.url == "/admin/pesanan" ) { %> active <% } %>">
        <a href="/admin/pesanan"><i class="fa fa-cart-plus"></i> <span>Pesanan</span></a>
      </li>
      <li class="<% if ( stuff.url == "/admin/pembayaran" ) { %> active <% } %>">
        <a href="/admin/pembayaran"><i class="fa fa-money"></i> <span>Pembayaran</span></a>
      </li>

      <li class="<% if ( stuff.url == "/admin/bank" ) { %> active <% } %>">
        <a href="/admin/bank"><i class="fa fa-bank (alias)"></i> <span>Bank</span></a>
      </li>


    </ul>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>